.container {
    justify-content: space-between;
    align-items: center;
}

.about-class .text,
.about-us .text,
.banner .text,
.image,
.banner .img {
    width: 48%;
}

/*********************************************************************                                          
    about-us
   ***************************************************************************************/
.about-us {
    overflow: hidden;
}

.about-us .container {
    margin-top: 5%;
    position: relative;
    opacity: 0;
    transform: translate3d(-100%,0,0);
}

.about-us .title,
.about-class .title {
    margin-bottom: 3%;
}

/*********************************************************************                                          
    banner
   ***************************************************************************************/

.banner .container {
    justify-content: space-between;
    opacity: 0;
}

.banner .text {
    color: white;
}

.banner .title {
    margin-bottom: 3%;
}

.banner .more-btn {
    margin-top: 3%;
}

/*********************************************************************                                          
    about-class
   ***************************************************************************************/
.about-class {
    overflow: hidden;
    position: relative;
}

.about-class .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.about-class .card:nth-of-type(1) {
    margin: 5% 0;
    left: 100%;
}

.about-class .card:nth-of-type(2) {
    flex-direction: row-reverse;
    right: 100%;
}

.about-class .cloud {
    position: absolute;
}

.about-class .text {
    position: relative;
}

.about-class .cloud:nth-of-type(3) {
    transform: rotatey(180deg) ;
     top: 45%;
    left: 3%;
}

.about-class .cloud:nth-of-type(4)  {
    transform: rotatey(180deg) ;
     top: 0%;
   right: 3%;
}



/*********************************************************************                                          
    album
   ***************************************************************************************/
.album .title {
    text-align: center;
    margin-bottom: 3%;
}

.album .container {
    justify-content: center;
}

.album .img {
    width: 24%;
    margin: 1px;
    overflow: hidden;
}

.album img {
    scale: 1;
    transition: 1s;
}

.album .img:hover img {
    scale: 1.2;
}


.album .img:nth-of-type(1) {
    border-radius: 50px 0 0 0;
}

.album .img:nth-of-type(4) {
    border-radius: 0 50px 0 0;
}

.album .img:nth-of-type(12) {
    border-radius: 0 0 50px 0;
}

.album .img:nth-of-type(9) {
    border-radius: 0 0 0 50px;
}


/********************************************************************media***************************************************************************************/
@media screen and (max-width:1000px) {
    .banner .title {
        margin-bottom: 5%;
    }

    .banner .more-btn {
        margin-top: 5%;
    }
}

@media screen and (min-width:768px) and (max-width:1279px) {

    .about-class .card:nth-of-type(1) .cloud,
    .about-class .card:nth-of-type(2) .cloud {
        top: -5%;
    }

}

@media screen and (max-width:767px) {

    .container,
    .about-class .container .card {
        flex-direction: column;
    }

    .container .text,
    .container .image,
    .banner .container .img {
        width: 100%;
    }

    .about-class .container .card {
        flex-direction: column-reverse;
        margin-block: 15%;
    }

    .about-us .container .image {
        margin-top: 3%;
    }

    .about-class .card:nth-of-type(1) .cloud {
        transform: rotatey(180deg) translate(-100%, 30%);
    }

    .about-class .card:nth-of-type(2) .cloud {
        transform: rotatey(180deg) translate(200%, 70%);
    }

    .album {
        margin-top: 15%;
    }

    .album .container {
        flex-direction: row;
    }

    .album .container .img {
        width: 49%;
    }

    .album .img:nth-of-type(2) {
        border-radius: 0 50px 0 0;
    }

    .album .img:nth-of-type(4) {
        border-radius: 0 0px 0 0;
    }

    .album .img:nth-of-type(9) {
        border-radius: 0 0px 0 0;
    }

    .album .img:nth-of-type(11) {
        border-radius: 0 0 0 50px;
    }
}