* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Montserrat Alternates, Noto Sans TC, Lilita One;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #333;

}

img {
  vertical-align: top;
  width: 100%;
}

body {
  background: #FAF6ED;
  background-image: url(../img/Group\ 2\ \(1\).png);
  width: 100%;
  height: 100%;

}

.title {
  font-size: 32px;
  line-height: 45px;
  font-weight: 500;
}

.s-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 3%;
}

.text-point {
  font-weight: bold;
}

.cloud {
  mix-blend-mode: multiply;
  width: 29.6875%;
  height: auto;
}

.cloud img {
  width: 100%;
  height: 100%;
}

@import url(reset.css);

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  padding-inline: 45px;
  height: 100%;
  inset: 0;
  margin: auto;
}

.max-width {
  max-width: 1440px;
}

/************************************************************************************* header ***************************************************/

.header {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 1920px;
}

.header img {
  width: 100%;
}



.header .img img {
  width: 100%;
  height: 100%;
  top: 0;
}

.header .wrap img:nth-of-type(1) {
  position: absolute;
  left: 0;
  z-index: 1;
}

.header a img {
  width: 11.7%;
  height: auto;
  position: absolute;
  display: block;
  z-index: 2;
  top: 3%;
  left: 0;
  right: 0;
  margin: auto;
}

h1 {
  position: absolute;
  display: block;
  height: fit-content;
  width: fit-content;
  z-index: 1;
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
  inset: 0;
  margin: auto;
}

.block {
  width: 100%;
  height: 100%;
  background: #0008;
  position: absolute;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.block .img {
  width: 80%;
  height: auto;
  transform: scale(0);
  position: relative;
  max-width: 1000px;
}

.block .img img:nth-child(2) {
  display: none;
}

.block .text {
  position: absolute;
  width: 80%;
  height: 80%;
  padding: 6% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  transform: scale(0);
  inset: 0;
  margin: auto;
}

.block .text .title {
  width: 100%;
  text-align: center;
}

@keyframes jump {
  0% {
    transform: scale(0);
  }


  40% {
    transform: scale(1.08)
  }

  60% {
    transform: scale(1)
  }

  80% {
    transform: scale(1.02)
  }

  100% {
    transform: scale(1)
  }
}

header .text .item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 50%;
  justify-content: space-between;

}

header .text .item .btn {
  width: 30%;
  margin: 3% 0;
}

header .text .item .btn a {
  text-decoration: none;
  color: white;
  white-space: nowrap;
  display: block;
  width: 100%;
  padding: 2%;
  background: #93B5C6;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s;
  text-align: center;
}

header .text .item .btn a:hover,
header .member .btn:hover {
  background: #FFD750;
  color: #333;
}

header .member .btn {
  background: #93B5C6;
  border-radius: 50px;
  padding: 1% 2%;
  width: 30%;
  inset: 0;
  margin: auto;
  cursor: pointer;
  transition: .3s;
}

header .member {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

header .member .btn i,
header .member .btn span {
  color: white;

}

header .member .btn:hover span,
header .member .btn:hover i {
  color: #333;
}

header .text input {
  display: none;
}

#navbar {
  display: none;
}

#navbar:checked+.wrap-group .navbar .block .img,
#navbar:checked+.wrap-group .navbar .block .text {
  animation: jump .6s .3s linear forwards;
}

#navbar:checked+.wrap-group .navbar .block {
  display: flex;
  position: fixed;
  z-index: 3;
  opacity: 1;
  visibility: visible;
}

.navbar-img {
  position: absolute;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  z-index: 4;
  right: 0;
  top: 0;
}

.navbar-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 35%;
  right: 25%;
}

.navbar-btn span {
  width: 25px;
  height: 6px;
  background: #666;
  z-index: 4;
}

.navbar-btn span:nth-of-type(2) {
  opacity: 0;
}

.navbar-btn span:nth-of-type(1) {
  transition: .3s;
}

.navbar-btn span:nth-of-type(3) {
  transition: .3s;
}

#navbar:checked~.wrap-group .navbar-img {
  position: fixed;
}

#navbar:checked~.wrap-group .navbar .navbar-btn span:nth-of-type(1) {
  transform: rotate(45deg);
  position: absolute;
  inset: 0;
  margin: auto;
}

#navbar:checked~.wrap-group .navbar .navbar-btn span:nth-of-type(3) {
  transform: rotate(-45deg);
  position: absolute;
  inset: 0;
  margin: auto;
}

.goback-btn {
  position: fixed;
  top: 85vh;
  right: 0%;
  z-index: 2;
  cursor: pointer;
  width: 10%;
}

.goback-btn img {
  width: 100%;
}


/************************************************************************************* roll-btn ***************************************************/
.roll-btn {
  position: relative;
  margin-top: 4.45312%;
  height: 250px;

}

.roll-btn .container {
  justify-content: center;
  padding: 0;
}


.roll-btn .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 100%;
}

.roll-btn .circle {
  width: 230px;
  height: 230px;
  background: #F4EDDD;
  border-radius: 50%;
  position: relative;
}

.roll-btn .circle a {
  text-decoration: none;
}

.roll-btn .btn {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: .3s;
  transform: translate(0, -5%);
}

.roll-btn .btn:hover {
  background: #ffd750;
  transform: translate(0, 0%);

}

.roll-btn .btn:hover i {
  color: white;
}

.roll-btn .btn p {
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: fit-content;

}

.roll-btn .btn i {
  position: absolute;
  bottom: 20%;
  color: #ffd750;
}


/************************************************************************************* swing ***************************************************/

.swing {
  animation: swing 1s steps(2, end) infinite alternate;

}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}



/************************************************************************************* banner ***************************************************/
.banner {
  width: 100%;
  height: 100%;
  background: #93B5C6;
  position: relative;
  margin: 0;
  max-width: 1920px;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding-top: 3%;
}

section {
  width: 100%;
  height: 100%;
}

.banner-before {
  position: relative;
  max-width: 1920px;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-top: 5%;
}

.banner-before img {
  display: block;
  margin-bottom: -0.5%;
}

.banner-after {
  position: relative;
  width: 100%;
  left: 0;
  margin-bottom: 5%;
  max-width: 1920px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.banner-after img {
  margin-top: -1%;
}

.banner .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.banner .heart-btn {
  width: 100%;
  text-align: center;
}

.banner .title {
  color: white;
  text-align: center;
  margin-top: 1%;
}

.banner .more-btn {
  position: relative;
  background: #Ffbbbb;
  width: fit-content;
  padding: 0 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  inset: 0;
  margin: auto;
  padding: .6% 5%;
  transition: .3s;
  z-index: 1;
}

.banner .more-btn:hover {
  background: #ffd750;
}

.banner .more-btn:hover a {
  color: #333;
}

.banner .more-btn a {

  text-decoration: none;
  color: white;
}

.banner .wrap {
  display: flex;
  width: 100%;

  justify-content: space-evenly;
}

/**********************************************************************                                     logo-name
   ***************************************************************************************/
.logo-name {
  max-width: 1920px;
  margin-inline: auto;
  height: 100%;

}

.logo-name .logo-group {
  display: flex;
  margin: 5% 0;
  overflow: hidden;
}

.logo-name .logo-wrapper {
  display: flex;
  animation: walk1 80s -5s linear infinite;
}

.logo-name .logo-wrapper:nth-child(2) {
  animation: walk2 80s linear infinite;
  animation-delay: -45s;
}

.logo-name .logo {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-name .logo span {
  width: 100%;
  color: #ffd750;
  font-size: 84px;
  font-family: Lilita One;
  margin: 2%;
  white-space: pre;
  .trainer .container .cloud {
    position: absolute;
}
}

@keyframes walk1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes walk2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}



/************************************************************************************* footer ***************************************************/
footer {
  background-image: url(../img/footer.png);
  background-size: cover;
  position: relative;
  width: 100%;
  bottom: 0;
  max-width: 1920px;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-top: 5%;
}

footer .row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 8%;
  padding-bottom: 4%;
}

footer p {
  color: white;
}

footer .text p:nth-of-type(2),
.open-time {
  font-size: 12px;
  line-height: 24px;
}

footer .text {
  padding-top: 3%;
  width: 30%;
}

footer .img {
  width: 30%;
}

.open-time {
  padding-right: 40%;
  text-align: end;
}

.follow {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  padding-top: 3%;
}

.follow p {
  width: 100%;
}

.follow .img {
  width: 100%;
  padding-left: 20%;
}

.follow .img a {
  margin-right: 6%;
  text-decoration: none;
}



/*************************************************************************************media***************************************************/
@media screen and (max-width:1023px) {
  .roll-btn .row {
    width: 90%;
  }

  .roll-btn .circle {
    width: 160px;
    height: 160px;
  }

  header .text .item{
    width: 65%;
  }
}

@media screen and (max-width:768px) {
  .block .title {
    font-size: 32px;
    line-height: 38px;
  }

  .block .img img:nth-child(1) {
    display: none;
  }

  .block .img img:nth-child(2) {
    display: flex;
  }

  header .block .text {
    height: 80%;
    width: 80%;
    align-content: space-evenly;

  }

  header .block .text .item {
    width: 100%;
    justify-content: space-evenly;
  }

  header .block .text .btn {
    width: 35%;
  }

  .banner {
    padding: 11% 0;
  }

  .roll-btn .row {
    width: 90%;
    flex-wrap: wrap;
  }

  .roll-btn .circle{
    width: 48%;
    height: 100px;
    border-radius: 50px;
  }

  .roll-btn .btn{
    border-radius: 50px;
  }

  footer .img {
    width: 60%;
  }


  footer .row {
    padding-top: 10%;
    padding-inline: 5%;
    flex-direction: column;
    align-items: center;
  }

  footer .text,
  footer .follow {
    width: 100%;
  }

  footer .follow {
    white-space: nowrap;

  }

  .follow .img,
  .follow p {
    text-align: center;
  }

  .follow .img {
    padding: 0;
    margin-top: 3%;
  }

  .follow .img a {

    margin-inline: 3%;
    text-decoration: none;
  }

  footer .img {
    width: 30%;
  }

  footer .row .text {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0;
    justify-content: center;
  }

  footer .text p:nth-child(1) {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
  }

  footer .text p:nth-child(2),
  footer .text .open-time {
    text-align: center;
    margin-inline: 5%;
  }

  footer .text .open-time {
    padding: 0;
  }
}



@media screen and (max-width:414px) {

  * {
    line-height: 28px;
  }

  h1 {
    font-size: 32px;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .s-title{
    font-size: 20px;
    line-height: 28px;
  }

  .container {
    padding: 0 10%;
  }

  header .navbar-img {
    width: 20%;
  }

  header .navbar span {
    width: 15px;
    height: 4px;
  }

  header .goback-btn {
    width: 20%;
  }

  header .block .text .btn {
    width: 45%;
  }

  .banner .title {
    padding-inline: 45px;
  }





  footer .text .open-time {
    margin-top: 3%;
  }


}