* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Montserrat Alternates, Noto Sans TC, Lilita One;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #333;

}

img {
  vertical-align: top;
  width: 100%;
}

body {
  background: #FAF6ED;
  background-image: url(../img/Group\ 2\ \(1\).png);

}

.title {
  font-size: 32px;
  line-height: 45px;
  font-weight: 500;
}

.s-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 3%;
}

.text-point {
  font-weight: bold;
}

.cloud {
  mix-blend-mode: multiply;
  width: 29.6875%;
  height: auto;
}

.cloud img {
  width: 100%;
  height: 100%;
}

@import url(reset.css);

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  height: 100%;
  inset: 0;
  margin: auto;
}


/************************************************************************************* header ***************************************************/

.header {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}

.header img {
  width: 100%;
}

.header .img {
  height: 100vh;
}

.header .img img {
  width: 100%;
  height: 100%;
  top: 0;
}

.header .wrap img:nth-of-type(1) {
  position: absolute;
  left: 0;
  z-index: 1;
}

.header a img {
  width: 11.7%;
  height: auto;
  position: absolute;
  display: block;
  z-index: 2;
  top: 3%;
  left: 0;
  right: 0;
  margin: auto;
}

h1 {
  position: absolute;
  display: block;
  height: fit-content;
  width: fit-content;
  z-index: 1;
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 45px;
  inset: 0;
  margin: auto;
}

.block {
  width: 100%;
  height: 100%;
  background: #0008;
  position: absolute;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.block .img {
  width: 80%;
  height: auto;
}

.block .text {
  position: fixed;
  width: 60%;
  height: 60%;
  padding: 6% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text .btn:hover {
  background: #FFD750;
  color: #333;
}

.text .btn i,
.text .btn span {
  color: white;
}

.text .btn:hover span,
.text .btn:hover i {
  color: #333;
}

.text .btn-main,
.text .btn-item {
  width: 50%;
  height: 100%;
}

.text .btn-main,
.text .btn-item .item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text .btn-main {
  justify-content: space-evenly;
  padding: 3%;
}

.text .btn-item {
  border-left: 1px solid #666;
  position: absolute;
  transition: opacity .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.text .btn-item .item {
  width: 48%;
  position: absolute;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

.text .btn a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

header .text .btn {
  padding: 3% 10%;
  background: #93B5C6;
  border-radius: 50px;
  margin: 5% 0;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
}

header .text a,
header .text label {
  text-decoration: none;
  color: white;
}

header .btn-main .btn:nth-of-type(3) label {
  margin-inline: 5%;
}

#service-spread:checked~.btn-main>label:nth-of-type(1) {
  background: #FFD750;
  color: #333;
}

#about-spread:checked~.btn-main>label:nth-of-type(2) {
  background: #FFD750;
  color: #333;
}

#service-spread:checked~.btn-item,
#about-spread:checked~.btn-item {
  opacity: 1;
  position: relative;
  visibility: visible;
  z-index: 3;
  transition: .5s;
  inset: 0;
  margin: auto;
}

#service-spread:checked~.btn-item .service-item,
#about-spread:checked~.btn-item .about-item {
  inset: 0;
  margin: auto;
  position: relative;
  opacity: 1;
  visibility: visible;
  z-index: 3;
  transition: .5s;
}

header .text input {
  display: none;
}

#navbar {
  display: none;
}

#navbar:checked+.wrap-group .navbar .block {
  display: flex;
  position: fixed;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: 1s;
}

.navbar-img {
  position: absolute;
  cursor: pointer;
  width: 9%;
  height: 16%;
  z-index: 4;
  right: 0;
  top: 0;
  background-image: url(../img/Mask\ group\ \(22\).png);
  background-size: cover;
}

.navbar-btn {
  width: 30%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 40%;
  right: -50%;
}

.navbar-btn span {
  width: 50%;
  height: 30%;
  background: #666;
  z-index: 4;

}

.navbar-btn span:nth-of-type(2) {
  opacity: 0;
}

.navbar-btn span:nth-of-type(1) {
  transition: .3s;
}

.navbar-btn span:nth-of-type(3) {
  transition: .3s;
}

#navbar:checked~.wrap-group .navbar-img {
  position: fixed;
}

#navbar:checked~.wrap-group .navbar .navbar-btn span:nth-of-type(1) {
  transform: rotate(45deg);
  position: absolute;
  inset: 0;
  margin: auto;
}

#navbar:checked~.wrap-group .navbar .navbar-btn span:nth-of-type(3) {
  transform: rotate(-45deg);
  position: absolute;
  inset: 0;
  margin: auto;
}

.goback-btn {
  position: fixed;
  top: 85vh;
  right: 0%;
  z-index: 2;
  cursor: pointer;
  width: 10%;
}

.goback-btn img {
  width: 100%;
}


/************************************************************************************* roll-btn ***************************************************/
.roll-btn {
  margin-top: 4.45312%;
}


.roll-btn .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.roll-btn .circle {
  width: 200px;
  height: 100%;
  background: #F4EDDD;
  border-radius: 50%;
  position: relative;
  margin: 0 1%;
}

.roll-btn .circle a {
  text-decoration: none;
}

.roll-btn .btn {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: .3s;
  transform: translate(0, -5%);
}

.roll-btn .btn:hover {
  background: #ffd750;
  transform: translate(0, 0%);

}

.roll-btn .btn:hover i {
  color: white;
}

.roll-btn .btn p {
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: fit-content;

}

.roll-btn .btn i {
  position: absolute;
  bottom: 20%;
  color: #ffd750;
}


/************************************************************************************* swing ***************************************************/

.swing {
  animation: swing 1s steps(2, end) infinite alternate;

}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}



/************************************************************************************* banner ***************************************************/

.banner {
  width: 100%;
  height: 100%;
  background: #93B5C6;
  position: relative;
  padding: 60px 10px;
  margin-bottom: 25%;
  margin-top: 11.71875%;
}

.banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10vw;
  background-size: cover;
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  left: 0;
  bottom: 100%;

}

.banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 15vw;
  background-size: cover;
  background-image: url(../img/Vector\ \(1\).png);
  left: 0;
  top: 99%;
  background-repeat: no-repeat;
}

.banner .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.banner .heart-btn {
  width: 100%;
  text-align: center;
}

.banner .title {
  color: white;
  text-align: center;
}

.banner .more-btn {
  background: #Ffbbbb;
  width: fit-content;
  padding: 0 20px;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  inset: 0;
  margin: auto;
  padding: .6% 5%;
  transition: .3s;
}

.banner .more-btn:hover {
  background: #ffd750;
}

.banner .more-btn:hover a {
  color: #333;
}

.banner .more-btn a {

  text-decoration: none;
  color: white;
}

.banner .wrap {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}







/**********************************************************************                                     logo-name
   ***************************************************************************************/
.logo-name .logo-group {
  display: flex;
  margin: 11.71875% 0;
  overflow: hidden;
  height: 10vh;
}

.logo-name .logo-wrapper {
  display: flex;
  animation: walk1 80s -5s linear infinite;
}

.logo-name .logo-wrapper:nth-child(2) {
  animation: walk2 80s linear infinite;
  animation-delay: -45s;
}

.logo-name .logo{
  /* height: 150px; */
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-name .logo span{
  width: 100%;
  color: #ffd750;
  font-size: 84px;
  font-family: Lilita One;
  margin: 2%;
  white-space: pre;
}

@keyframes walk1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes walk2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}



/************************************************************************************* footer ***************************************************/
footer {
  background-image: url(../img/footer.png);
  background-size: cover;
  height: fit-content;
  width: 100%;
  bottom: 0;
  margin-top: 7.8125%;
}

footer .row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 8%;
  padding-bottom: 4%;
}

footer p {
  color: white;
}

footer .text p:nth-of-type(2),
.open-time {
  font-size: 12px;
  line-height: 24px;
}

footer .text {
  margin: 0 5%;
}

footer .img {
  text-align: end;
}

footer .img img {
  width: 60%;
}

.open-time {
  padding-right: 40%;
  text-align: end;
}

.follow {
  display: flex;
  flex-wrap: wrap;
}

.follow p {
  width: 100%;
}

.follow .img {
  width: 100%;
  padding-left: 20%;
}

.follow .img a {
  margin-right: 6%;
  text-decoration: none;
}