.title-cloud {
  position: absolute;
  width: 10%;
  z-index: 1;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0%;
  background-color: #fff;
  z-index: 10;
  display: flex;
}

#status {
  position: relative;
  width: 218px;
  height: 419px;
  inset: 0;
  margin: auto;
  z-index: 15;
  align-items: center;
}

h1 {
  color: #333;
  display: block;
  padding-top: 100%;
}


/**********************************************************************                                      header ***************************************************************************************/
header {
  height: 80vh;
  width: 100%;
  max-height: 1080px;
  position: relative;
  max-width: 1440px;
  margin-inline: auto;
  overflow: hidden;
}

header .wrap-group {
  height: 100%;
  position: relative;
}

header .wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

header .logo-group {
  width: 50%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .logo {
  position: relative;
  z-index: 1;
  width: 100%;
  top: 10%;
  right: 10%;
}

.logo span {
  text-align: center;
  color: #7A7A7A;
  font-size: 52px;
  font-family: Montserrat Alternates;
  font-style: italic;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: 7.80px;
}

.logo-img {
  position: relative;
  transform: translate(170%, 40%);
  width: 34.6875%;
}

.logo img {
  width: 100%;

}

.logo-text {
  width: fit-content;
  margin: auto;
}

.logo span:nth-of-type(1) {
  position: relative;
  display: block;
  width: fit-content;
}

.logo span:nth-of-type(2) {
  position: relative;
  width: fit-content;
  display: block;
  transform: translate(45%, 0%);
}

.logo span:nth-of-type(3) {
  position: relative;
  display: block;
  width: fit-content;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: normal;
  white-space: nowrap;
}

.img-givemefive {
  position: relative;
  width: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  left: -10%;
  opacity: .3;

}

.img-givemefive:hover img {
  animation-play-state: paused;

}

.img-givemefive img {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: slider 25s linear infinite;
}

.img-givemefive img:nth-child(5) {
  animation-delay: 0s;
}

.img-givemefive img:nth-child(4) {
  animation-delay: 5s;
}

.img-givemefive img:nth-child(3) {
  animation-delay: 10s;
}

.img-givemefive img:nth-child(2) {
  animation-delay: 15s;
}

.img-givemefive img:nth-child(1) {
  animation-delay: 20s;
}

@keyframes slider {
  4% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  34% {
    opacity: 0;
  }
}

.cat {
  position: relative;
  width: 36%;
  top: -100%;
  opacity: .3;
}

.cat img {
  width: -50%;
  height: 100%;
}

.shiba {
  position: relative;
  width: 52%;
  top: 5%;
}

.shiba img {
  width: 100%;
  height: 100%;
}


/******************************************************************************************************** banner**********************************************************************/
.banner {
  background-image: url(../img/Vector\ 9.png);
  background-repeat: no-repeat;
  background-position: right 0 top 35%;
  padding: 11% 0;
}

.banner .wrap-group {
  display: flex;
  flex-wrap: wrap;
  left: 100%;
  position: relative;
  opacity: 0;
}

.banner .container .img {
  position: relative;
  width: 50%;
}

.banner .item {
  width: 50%;
  position: relative;
}


.banner .item .text span,
.banner .item .title {
  color: white;
}

.banner .item .title {
  margin-bottom: 20px;
  text-align: start;
}

.banner .title p {
  background: #ffd750;
  width: fit-content;
  color: white;
  padding: 0 20px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.banner .cloud {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(60%, -30%);
}

.banner .title-cloud {
  right: 0;
  top: -30%;
  opacity: 0;
  z-index: 2;
}


@keyframes jump {
  0% {
    transform: scale(0);
    opacity: 0;
  }


  40% {
    transform: scale(1.2);
    opacity: 1;
  }

  60% {
    transform: scale(1);
    opacity: 1;

  }

  80% {
    transform: scale(1.2);
    opacity: 1;

  }

  100% {
    transform: scale(1);
    opacity: 1;

  }
}

.card-group {
  position: relative;
  margin-top: 100px;
}

.card-group .title {
  color: white;
  text-align: center;
}

.card-group .wrap {
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: relative;
  opacity: 0;
  flex-wrap: wrap;
}

.card-group .card {
  position: relative;
  width: 25%;
  background: #fff;
  border-radius: 50px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  padding: 30px 0;
  box-shadow: 2px 2px 8px #666;
}



.card-group .img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-group .card img:nth-of-type(1) {
  width: 150%;
  height: 80%;
}

.card-group .text {
  padding: 0 15%;

}

.card-group .text p {
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.card-group .btn {
  position: absolute;
  width: 35%;
  inset: 0;
  margin: auto;
  transform: translateY(50%);
  left: -2%;
}

.card-group .btn i:nth-of-type(1) {
  position: absolute;
  margin-right: 100%;
  cursor: pointer;
}

.card-group .btn i:nth-of-type(2) {
  position: absolute;
  margin-left: 100%;
  cursor: pointer;
}

#contentButton{
	border: 1px solid red;
	text-align: center;
	width: 100%;
	height: 50px;
}
#contentButton li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ccc;
	display: inline-block;
	margin: 8px;
}
#contentButton li.clicked{
	background-color: #666;
}

/************************************************************************************* service ***************************************************/
.service {
  width: 100%;
  position: relative;

}

.service .container {
  position: relative;
}

.service .title-cloud {
  top: -8%;
  left: 0;
  opacity: 0;
}

.service .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.service .card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  position: relative;
}

.service .text {
  width: 50%;
}

.service .text .title,
.service .text p {
  text-align: center;
  margin-bottom: 5%;

}

.service .btn-more a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  background: #93B5C6;
  border-radius: 100px;
  width: 50%;
  padding: 5px 0;
  inset: 0;
  margin: auto;
  transition: all .3s ease-in-out;
}

.service .btn-more a:hover {
  background: #FFD750;
  color: #333;
}

.service .img {
  width: 50%;
  position: relative;
}

.service .img img:nth-of-type(1) {
  width: 100%;
}

.hand {
  /* opacity: 1; */
  animation: hand .6s forwards;
}

@keyframes hand {
  0% {
    opacity: 0;
    transform: translate(30%, 200%);
  }

  50% {
    opacity: 1;
    transform: translate(0%, 60%);
  }

  100% {
    opacity: 1;
    transform: translate(30%, 80%);
  }
}


.service .card:nth-of-type(odd) .img img:nth-of-type(2) {
  position: absolute;
  right: -5%;
  top: 50%;
  width: 43%;
  opacity: 0;
}

@keyframes move-right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 100%, 0);
    transform: translate3d(100%, 100%, 0);
  }

  25% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 100%, 0);
    transform: translate3d(100%, 100%, 0);
  }
}

@keyframes move-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0);
    transform: translate3d(-100%, 100%, 0);
  }

  25% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 100%, 0);
    transform: translate3d(-100%, 100%, 0);
  }
}

.move-right {
 animation: move-right 1s;
}

.move-left {
  animation: move-left 1s;
 }

.service .card:nth-of-type(even) .img img:nth-of-type(2) {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 43%;
  opacity: 0;
}

.service .card:nth-of-type(even) {
  flex-direction: row-reverse;

}

.service .card:nth-of-type(even) .img img:nth-of-type(2) {
  transform: translate(-130%, 70%);
}





/*************************************************************************************media***************************************************/


@media screen and (min-width:1400px) {
  .banner {
    padding: 5% 0;
  }
}

@media screen and (max-width:768px) {
  header .img-givemefive img {
    height: fit-content;
    /* top: 0%; */
    margin-top: 150%;
  }

  .logo span {
    font-size: 32px;
    line-height: 45px;
  }

  header .logo {
    right: 30%;
    width: fit-content;
  }

  .logo span:nth-of-type(3) {
    font-size: 12px;
    line-height: 16px;
  }

  header .cat {
    right: 50%;
  }

  header .shiba {
    top: -15%;
  }

  .banner .wrap-group{
    flex-direction: column-reverse;
  }

  .banner .wrap-group .img,
  .banner .wrap-group .item {
    width: 100%;
  }

  .banner .title {
    text-align: start;
    padding: 0;
  }

  .card-group .title {
    text-align: center;
  }

  .card-group .wrap {
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    overflow: hidden;
  }

  .card-group .btn {
    display: none;
  }

  .banner .title-cloud {
    top: -30%;
    width: 15%;
  }

  .service .title-cloud {
    top: -3%;
    width: 15%;
  }

  .service .container {
    margin-top: 11%;
  }

  .service .card {
    flex-wrap: wrap;
    margin: 11% 0;
  }

  .service .card .text,
  .service .card .img {
    width: 100%;
    margin: 3% 0;
  }

  .card-group .wrap .card {
    width: 60%;
    margin-inline: auto;
  }

}




@media screen and (max-width:414px) {
  header .logo {
    right: 50%;
  }

  .logo span:nth-of-type(2) {
    margin: auto;
    transform: translate(0%, 0%);
  }

  .logo span:nth-of-type(3) {
    /* transform: translate(-25%,0); */
    white-space: pre-wrap;
  }

  .logo span:nth-of-type(1) {
    margin-inline: auto;
  }

  .logo-img {
    transform: translate(180%, 0%);
  }

  .card-group .wrap .card {
    width: 80%;
  }


}