/**********************************************************************                                      problem***************************************************************************************/


.problem {
    margin-top: 8.90625%;
}

.problem .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 4.45312%;
}

.problem .container:nth-of-type(even) {
    flex-direction: row-reverse;
}

.problem .container .img {
    width: 50%;
    padding-left: 15%;
}

.problem .container:nth-of-type(2) .img img {
    animation: bark 8s ease -2s infinite;
    width: fit-content;
}

@keyframes bark {
    0% {
        transform: scale(1) rotate(5deg);
    }

    96% {
        transform: scale(1) rotate(5deg);
    }

    100% {
        transform: scale(1.3) rotate(-5deg);
    }
}

.problem .container:nth-of-type(3) .img img {
    animation: shake 3s -2s infinite;
    width: fit-content;
}

@keyframes shake {
    0% {
        transform: translatex(0);
    }

    90% {
        transform: translatex(0);
    }

    92% {
        transform: translatex(3%);
    }

    94% {
        transform: translatex(-3%);
    }

    96% {
        transform: translatex(3%);
    }

    98% {
        transform: translatex(-3%);
    }

    100% {
        transform: translatex(3%);
    }
}


.problem .container .text {
    width: 50%;
    padding-right: 130px;
}

.problem .container:nth-of-type(even) .text {
    padding-left: 130px;
    padding-right: 0;
}

.problem .title {
    margin-bottom: 20px;
}

.problem .title p {
    background: #ffd750;
    width: fit-content;
    color: white;
    padding: 0 20px;
    border-radius: 50px;
    margin-bottom: 10px;
}


.problem .cloud {
    position: absolute;
    left: 50%;
    transform: translate(50%, -50%);
}

.problem .container:nth-of-type(3) .cloud {
    transform: translate(50%, -30%);
}

.problem .container:nth-of-type(even) .cloud {
    transform: translate(-150%, -50%);
}




/**********************************************************************                                     banner
   ***************************************************************************************/
.banner .card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 14%;
    background: white;
    border-radius: 30px;
    padding: 1%;
    justify-content: start;
    align-content: flex-start;
    margin: 5% 0;
    scale: 1;
    transition: .3s .3s;
}

.banner .card:hover{
scale: 1.2;
transition: .3s;
}

.banner .card .name {
    width: 100%;
    display: flex;
    align-items: center;
}

.banner .name .text {
    margin-left: 8%;
    width: 65%;
}

.banner .text p:nth-of-type(2) {
    color: #C9CCD5;
    font-size: 12px;
    line-height: 24px;
}

.banner .star {
    width: 100%;
    transform: scale(.6);
    position: relative;
    left: -20%;
}

.banner .text {
    font-size: 12px;
}

.banner .text p {
    font-size: 12px;
    line-height: 24px;
}

.banner .star img {
    width: 100%;
}





/**********************************************************************                                     about
   ***************************************************************************************/

.about .container {
    display: flex;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
}

.about .container .text {
    width: 50%;
    padding-right: 5%;
}

.about .container .title {
    margin-bottom: 5%;
}

.about .container .img {
    width: 50%;
}

.about .img img {
    width: 100%;
    height: 100%;
}




/**********************************************************************                                     class
   ***************************************************************************************/
.class {
    margin-bottom: 11.71875%;
    position: relative;
}

.class .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.class .title {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.class .wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11.71875%;
}

.class .card {
    width: 20%;
    background: white;
    border-radius: 50px;
    padding: 3%;
    text-align: center;
    margin: 0 2%;
}

.class .text {
    height: 50%;
    padding-bottom: 3%;
}

.class .price {
    padding: 10% 0;
    border-top: 1px solid #93B5C6;
}

.class .more-btn {
    background: #93B5C6;
    border-radius: 50px;
    transition: .3s;
    width: 60%;
    inset: 0;
    margin: auto;
    padding: .6% 5%;
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.class .more-btn:hover {
    background: #ffd750;
    color: #333;
}

.class .more-btn:hover {
    color: #333;
}

.class .button {
    background: #Ffbbbb;
    border-radius: 50px;
    transition: .3s;
    padding: .6% 5%;
    border: none;
    text-decoration: none;
    color: white;
}

.class .button:hover {
    background: #ffd750;
    color: #333;
}

.class .about {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: start;
    background: rgba(0, 0, 0, 0.76);
    height: 100vh;
    inset: 0;
    margin: auto;
    padding:3%;
    transform: translatex(-100%);
    transition: .3s;
}

.class .about .title{
    font-size: 28px;
    line-height: 32px;
    margin: 1%;
}

.class .s-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}

.class .s-title,
.class .about .text {
    color: white;
}

.class .about p{
    font-size: 12px;
    line-height: 18px;
}

.class .about .title,
.class .about p {
    width: 100%;
    text-align: center;
    color: white;
}

.class .about .text{
    padding-bottom: 8%;
    line-height: 18px;
}

.class .about .cat,
.class .about .dog {
    padding:0 3%;
    width: 45%;
}

.class .about .btn a {
    text-decoration: none;
    color: white;
}

.class .about .btn {
    padding: 1% 3%;
    background: #93B5C6;
    border-radius: 50px;
    inset: 0;
    margin: auto;
    width: fit-content;
    cursor: pointer;
}

.class .about .btn:hover {
    background: #ffd750;
}

.class .about .btn:hover a {
    color: #333;
}



.class .about .group {
    color: white;
    width: 100%;
    text-align: center;
    margin: 3% 0;
}

#onebyone-class,
#group-class {
    display: none;
}

#onebyone-class:checked~.about,
#group-class:checked~.about{
    transform: translatex(0%);
}